[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/ds-spell"]
	path = lib/ds-spell
	url = https://github.com/dapphub/ds-spell
[submodule "lib/ds-chief"]
	path = lib/ds-chief
	url = https://github.com/dapphub/ds-chief
[submodule "lib/ds-token"]
	path = lib/ds-token
	url = https://github.com/dapphub/ds-token
[submodule "lib/ds-proxy"]
	path = lib/ds-proxy
	url = https://github.com/dapphub/ds-proxy
